services:
  frontend:
    image: uribe22/pulgashop-frontend:latest
    ports:
      - "4041:80"
  backend:
    image: uribe22/pulgashop-backend:latest
    env_file:
      - ./.env
    ports:
      - "4040:4040"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4040/api/health || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 5